<div class="my-3">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-9">
          <strong>
            <u> CVs et Documents </u>
          </strong>
        </div>
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#upload">
            <i class="bi bi-file-earmark-arrow-up"></i>
            Upload Document
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <p>
        Liste des documents :
      </p>
      <div class="justify-content-center" *ngIf="collab?.documents?.length !== 0">
        <table class="table">
          <tbody>
            <div class="col p-2 mt-1 rounded border border-dark" *ngFor="let document of collab?.documents">
              <div class="row">
                <div class="col-md-10">
                  <strong>
                    {{ document?.fileName }}
                  </strong>
                  <br />
                  <small>
                    Type :
                    {{ document?.type }}
                  </small>
                </div>
                <div class="col-md-2 text-end">
                  <a class="btn btn-sm btn-primary me-2 mb-1" (click)="download(document)" aria-label="download">
                    <i class="bi bi-file-earmark-arrow-down"></i>
                  </a>
                </div>
              </div>
            </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>