.vscode
API_MySIRH/obj/Debug/net6.0/API_MySIRH.pdb
API_MySIRH/obj/Debug/net6.0/API_MySIRH.GeneratedMSBuildEditorConfig.editorconfig
API_MySIRH/.vs/API_MySIRH/DesignTimeBuild/.dtbcache.v2
API_MySIRH/.vs/API_MySIRH/v17/.futdcache.v1
API_MySIRH/.vs/API_MySIRH/v17/.suo
API_MySIRH/obj/Debug/net6.0/API_MySIRH.assets.cache
API_MySIRH/.vs/API_MySIRH/DesignTimeBuild/.dtbcache.v2
