<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a id="menu-toggle" class="px-3" onclick="toggleSidebar(this)">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </svg>
  </a>

  <input class="form-control form-control-dark w-100" type="text" placeholder="Rechercher" aria-label="Search">

  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <!-- <a class="nav-link px-3" routerLink='/home'>Sign out</a> -->
      <a class="nav-link px-3" routerLink='/login' *ngIf="!isLogin">Signin</a>
      <button class="btn nav-link px-3" (click)="onSignOut()" *ngIf="isLogin">Logout</button>
    </div>
  </div>
</header>