<div class="card sticky-top">
  <div class="card-body">
    <div class="card title text-center mb-3 px-4 py-5">
      <div class="mb-3 shadow-sm alert" [ngClass]="errorMessage ? 'alert-danger' : 'alert-white'">
        <div class="text-danger" *ngIf="errorMessage"> {{errorMessage}} </div>
        <div>
          <img [src]="imgPath" alt="" style="width: 120px; height:120px"
            class="img-fluid rounded-circle img-thumbnail mx-auto mb-1" />

          <input type="file" style="display: none;" (change)="uploadImage($event)" #pictureInput>
          <button id="image-btn" class="btn btn-sm mb-1" (click)="pictureInput.click()"
            [disabled]="disableModifiedImage"><span class="bi bi-card-image"></span></button>
        </div>
        <div *ngIf="selected">
          <div class="progress" style="height: 2px;">
            <div [style.width]="progress + '%'" class="progress-bar bg-success" role="progressbar" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <div class="fw-bold">
        {{ collab.civilite == 'M' ? "Mr" : "Mme" }}. {{ collab?.nom }}
        {{ collab?.prenom }}
      </div>
      <div>
        <u>
          {{ collab.carrieres[collab.carrieres.length-1]?.poste?.name || "N/A" }}
        </u>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <span>Expérience</span>
        <span class="badge bg-dark ms-1">
          {{ calculateYears(collab?.dateEntreeSqli) }}
          ans
        </span>
      </div>
      <div class="text-uppercase text-muted">#M-{{ collab?.matricule }}</div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <i class="bi bi-building"></i>
        </div>
        <div class="col-sm-9 text-secondary">{{ collab?.site?.name }}</div>
      </div>
      <hr />
      <div class="row align-items-center">
        <div class="col-sm-3">
          <i class="bi bi-envelope-fill"></i>
        </div>
        <div class="col-sm-9 text-secondary">
          {{ collab?.email }}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <i class="bi bi-phone-fill"></i>
        </div>
        <div class="col-sm-9 text-secondary">
          {{ collab?.phonePersonnel || "N/A" }}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <i class="bi bi-telephone-fill"></i>
        </div>
        <div class="col-sm-9 text-secondary">
          {{ collab?.phoneProfesionnel || "N/A" }}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <i class="bi bi-pin-map-fill"></i>
        </div>
        <div class="col-sm-9 text-secondary">
          {{ collab?.adresse || "N/A" }}
        </div>
      </div>
    </div>
  </div>
</div>
