.canvas{
    width: 10vw !important;
    height: 60vh !important;
}

.canvasParent{
    width: auto;
    column-gap: 10px;
}

label{
    background-color: transparent;
}

@media screen and (max-width : 560px) {
    .canvas{
        margin: auto;
        width: 500px !important;
        height: 42vh !important;
    }
}
@media screen and (max-width : 1500px) {
    .canvas{
        margin: auto;
        width: 500px !important;
        height: 67vh !important;
    }
}