<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2>DashBoard</h2>
</div>

<!--
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col-md col-sm">#</th>
          <th scope="col-md col-sm">Header</th>
          <th scope="col-md col-sm">Header</th>
          <th scope="col-md col-sm">Header</th>
          <th scope="col-md col-sm">Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>random</td>
          <td>data</td>
          <td>placeholder</td>
          <td>text</td>
        </tr>
        <tr>
          <td>1,002</td>
          <td>placeholder</td>
          <td>irrelevant</td>
          <td>visual</td>
          <td>layout</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>data</td>
          <td>rich</td>
          <td>dashboard</td>
          <td>tabular</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>information</td>
          <td>placeholder</td>
          <td>illustrative</td>
          <td>data</td>
        </tr>
        <tr>
          <td>1,004</td>
          <td>text</td>
          <td>random</td>
          <td>layout</td>
          <td>dashboard</td>
        </tr>
        <tr>
          <td>1,005</td>
          <td>dashboard</td>
          <td>irrelevant</td>
          <td>text</td>
          <td>placeholder</td>
        </tr>
        <tr>
          <td>1,006</td>
          <td>dashboard</td>
          <td>illustrative</td>
          <td>rich</td>
          <td>data</td>
        </tr>
        <tr>
          <td>1,007</td>
          <td>placeholder</td>
          <td>tabular</td>
          <td>information</td>
          <td>irrelevant</td>
        </tr>
        <tr>
          <td>1,008</td>
          <td>random</td>
          <td>data</td>
          <td>placeholder</td>
          <td>text</td>
        </tr>
        <tr>
          <td>1,009</td>
          <td>placeholder</td>
          <td>irrelevant</td>
          <td>visual</td>
          <td>layout</td>
        </tr>
        <tr>
          <td>1,010</td>
          <td>data</td>
          <td>rich</td>
          <td>dashboard</td>
          <td>tabular</td>
        </tr>
        <tr>
          <td>1,011</td>
          <td>information</td>
          <td>placeholder</td>
          <td>illustrative</td>
          <td>data</td>
        </tr>
        <tr>
          <td>1,012</td>
          <td>text</td>
          <td>placeholder</td>
          <td>layout</td>
          <td>dashboard</td>
        </tr>
        <tr>
          <td>1,013</td>
          <td>dashboard</td>
          <td>irrelevant</td>
          <td>text</td>
          <td>visual</td>
        </tr>
        <tr>
          <td>1,014</td>
          <td>dashboard</td>
          <td>illustrative</td>
          <td>rich</td>
          <td>data</td>
        </tr>
        <tr>
          <td>1,015</td>
          <td>random</td>
          <td>tabular</td>
          <td>information</td>
          <td>text</td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>rounded-start bg-primary
-->

<div class="row">

  <div class="col-md-4 text-center mt-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label>
              <u>
                Moyenne d'experience :
              </u>
              <br>
              <strong>
                {{dashboard.averageExp | number: '1.1-2'}} an(s)
              </strong>
            </label>
          </div>
          <div class="col-md-6">
            <label>
              <u>
                Moyenne d'age :
              </u>
              <br>
              <strong>
                {{dashboard.averageAge | number: '1.1-2'}} an(s)
              </strong>
            </label>
          </div>
          <div class="col-md-12 mt-3">
            <label>
              <u>
                Niveau Chart
              </u>
            </label>
            <canvas id="niveauChart" height="0"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 text-center mt-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label>
              <u>
                Taux d'encadrement :
              </u>
              <br>
              <strong>
                {{dashboard.tauxEncadrement | number: '1.1-2'}}%
              </strong>
            </label>
          </div>
          <div class="col-md-6">
            <label>
              <u>
                Taux de soustraitant :
              </u>
              <br>
              <strong>
                {{dashboard.tauxSoustraitant | number: '1.1-2'}}%
              </strong>
            </label>
          </div>
          <div class="col-md-12 mt-3">
            <label>
              <u>
                Post Chart
              </u>
            </label>
            <canvas id="postChart" height="0"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 text-center mt-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label>
              <u>
                Nombre de collaborateurs :
              </u>
              <br>
              <strong>
                {{dashboard.headCount}}
              </strong>
            </label>
          </div>
          <div class="col-md-6">
            <label>
              <u>
                Nombre de démission :
              </u>
              <br>
              <strong>
                {{dashboard.demissionCount == undefined || dashboard.demissionCount == null ||
                dashboard.demissionCount == 0 ? "Aucune démission":dashboard.demissionCount}}
              </strong>
            </label>
          </div>
          <div class="col-md-12">
            <label>
              <u>
                Niveau Chart
              </u>
            </label>
            <canvas id="headChart" height="0"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>