<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Statut</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of intersections">
            <td scope="row" >{{item.name}}</td>
            <td [appDisplayItem]="item.status">{{item.status | handleStatusDisplay}}</td>
            <td>{{item.dateDebut | date: 'fullDate'}}</td>
            <td>{{item.dateFin | date: 'fullDate'}}</td>
        </tr>
    </tbody>
</table>
