<div class="form-group">
  <label for={{label}}>{{label | titlecase}}:</label>
  <select
    name={{label}}
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    class="form-select form-select-sm"
    [formControl]="$any(ngControl).control">
    <option value disabled selected>-Sélectionner-</option>
    <option value="M">Mr.</option>
    <option value="F">Mme.</option>
  </select>
  <div *ngIf="ngControl.control?.errors?.['required']" class="invalid-feedback"> {{label}} is required</div>
</div>
