<div class="container row">
  <div class=" col-4">
      <div class="profile-card">

          <h5 class="name">{{collab.nom}} {{collab.prenom}} Profile</h5>
          <div class="image-container">
              <img class="image" src="/assets/place_holder.jpg" />
          </div>
          <div class="field">
              <p class="field-label">Location</p>
              <p class="field-value">Rabat</p>
          </div>
          <div class="field">
              <p class="field-label">Age</p>
              <p class="field-value">{{age}}</p>
          </div>
          <div class="field">
              <p class="field-label">date Entree Sqli</p>
              <p class="field-value">{{collab.dateEntreeSqli | date: 'dd MMMM yyyy'}}</p>
          </div>
          <div class="field" *ngIf="collab.dateDebutStage">
              <p class="field-label">date Debut Stage</p>
              <p class="field-value">{{collab.dateDebutStage | date: 'dd MMMM yyyy'}}</p>
          </div>
          <button class="save">Save Changes</button>
      </div>
  </div>
  <div class=" col-8 body">
      <div class="header">
          <p class="tab about">About Lina</p>
          <p class="tab edit">Edit photos</p>
      </div>
      <div class="input-container">
          <p class="input-label">Diplomes</p>
          <textarea class="input-value">

          </textarea>
      </div>
  </div>
</div>