body {
    width: 100%;
    height: 100vh;
}

.container {
    margin: 0;
    padding: 30px;
    min-width: 100%;
}

.profile-card {
    background-color: rgba(238, 237, 237, 0.877);
    border-radius: 3px;
    width: 100%;
    padding: 20px 10px;
}

.body {
    padding: 0 18px;
}

.name {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

.image-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    margin: 22px auto;
}

.image {
    border-radius: 100%;
    width: 50%;
    margin: auto;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 18px auto;
    gap: 3px;
}

.field-label {
    margin: 0;
    font-weight: 600;
}

.field-value {
    margin: 0;
}

.save {
    background-color: rgba(21, 101, 192, 0.7);
    border: none;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
}

.save:hover {
    background-color: rgba(21, 101, 192, 0.8);
}

.header {
    display: flex;
    justify-content: left;
}

.tab {
    padding: 8px 18px;
    border-radius: 3px;
}

.about {
    border-bottom: solid black 3px;
    border-radius: 0;
}

.edit {
    background-color: rgba(238, 237, 237, 0.6);
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 6px;
}

.input-label {
    font-weight: 600;
    margin: 0;
}

.input-value {
    border: 2px solid rgba(238, 237, 237, 0.9);
    padding: 10px;
    resize: none;
    border-radius: 3px;
    height: 300px;
    width: 100%;
}