<form [formGroup]="myFormGroup" *ngIf="myFormGroup">
  <div class="card h-fit">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <mat-tab-group>
            <mat-tab label="Info">
              <div class="my-3">
                <div class="card">
                  <div class="card-header">
                    <strong>
                      <u>
                        Informations Personnelles
                      </u>
                    </strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-2 mt-3">
                        <app-select-input [formControl]="$any(myFormGroup.controls?.['civilite'])" [data]="civiliteData"
                          [label]="'civilite'"></app-select-input>
                      </div>
                      <div class="col-md-5 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['nom'])" [label]="'nom'">
                        </app-text-input>
                      </div>
                      <div class="col-md-5 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['prenom'])" [label]="'prenom'">
                        </app-text-input>
                      </div>

                      <div class="col-md-6 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['emailPersonnel'])"
                          [label]="'email Personnel'" [type]="'email'"></app-text-input>
                      </div>
                      <div class="col-md-6 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['phonePersonnel'])"
                          [label]="'phone Personnel'"></app-text-input>
                      </div>

                      <div class="col-md-4 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['dateNaissance'])"
                          [label]="'date Naissance'" [type]="'date'"></app-text-input>
                      </div>
                      <div class="col-md-4 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['lieuNaissance'])"
                          [label]="'lieu Naissance'"></app-text-input>
                      </div>
                      <div class="col-md-4 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['nationnalite'])"
                          [label]="'nationalite'"></app-text-input>
                      </div>

                      <div class="col-md-12 mt-3">
                        <app-select-input [formControl]="$any(myFormGroup.controls?.['situationFamiliale'])"
                          [data]="situationFamilialeData" [label]="'situation Familiale'"></app-select-input>
                      </div>

                      <div class="col-md-6 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['numCin'])" [label]="'N&deg; Cin'">
                        </app-text-input>
                      </div>
                      <div class="col-md-6 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['matricule'])" [label]="'matricule'">
                        </app-text-input>
                      </div>

                      <div class="col-md-12 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['adresse'])" [label]="'adresse'">
                        </app-text-input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="my-3">
                <div class="card">
                  <div class="card-header">
                    <strong>
                      <u>
                        Informations Professionnelles
                      </u>
                    </strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['phoneProfesionnel'])"
                          [label]="'phone Profesionnel'"></app-text-input>
                      </div>
                      <div class="col-md-6 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['email'])"
                          [label]="'email Profesionnel'" [type]="'email'"></app-text-input>
                      </div>

                      <div class="col-md-6 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['dateEntreeSqli'])"
                          [label]="'Entree SQLI'" [type]="'date'"></app-text-input>
                      </div>
                      <div class="col-md-6 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['dateSortieSqli'])"
                          [label]="'Sortie SQLI'" [type]="'date'"></app-text-input>
                      </div>

                      <div class="col-md-6 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['dateDebutStage'])"
                          [label]="'Debut de Stage'" [type]="'date'"></app-text-input>
                      </div>
                      <div class="col-md-6 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['datePremiereExperience'])"
                          [label]="'Premier Experience'" [type]="'date'"></app-text-input>
                      </div>

                      <div class="col-md-4 mt-3">
                        <app-select-input [formControl]="$any(myFormGroup.controls?.['modeRecrutement'])"
                          [data]="recruteModeData" [label]="'Recrutement'"></app-select-input>
                      </div>
                      <div class="col-md-4 mt-3">
                        <app-select-input [formControl]="$any(myFormGroup.controls?.['niveau'])" [data]="niveauxData"
                          [label]="'expertise'"></app-select-input>
                      </div>
                      <div class="col-md-4 mt-3">
                        <app-select-input [formControl]="$any(myFormGroup.controls?.['poste'])" [data]="postesData"
                          [label]="'poste'"></app-select-input>
                      </div>

                      <!-- <div class="col-md-12 mt-3">
                        <app-text-input [formControl]="$any(myFormGroup.controls?.['diplomes'])" [label]="'diplomes'">
                        </app-text-input>
                      </div> -->

                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <!--
              <mat-tab label="Education & Past Jobs">
                Education & Past Jobs Content
              </mat-tab>
              <mat-tab label="Manager & TLRHs">
                Manager & TLRHs Content
              </mat-tab>
              <mat-tab label="Materiels"> Materiels Content </mat-tab>
              <mat-tab label="HR Incidents"> HR Incidents Content </mat-tab> 
            -->
            <mat-tab label="Contrat & Statut">
              <app-contrats [collab]="collab" #contrats></app-contrats>
            </mat-tab>
            <mat-tab label="Cv & Documents">
              <app-download [collab]="collab"></app-download>
            </mat-tab>
            <mat-tab label="Skills">
              <app-diplomes [collab]="collab"></app-diplomes>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>

  <app-upload></app-upload>
  <app-modal-ajout-diplome [collaborateur]="collab"></app-modal-ajout-diplome>
  <app-modal-ajout-contrat [collaborateur]="collab" (updateAffectations)="updateAffectations()">
  </app-modal-ajout-contrat>
</form>