<form [formGroup]="myFormGroup" *ngIf="myFormGroup">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            id="info-tab"
            data-bs-target="#info"
            aria-controls="info"
            class="nav-link active"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            aria-selected="true"
          >
            Info
          </button>
        </li>
        <li *ngIf="collab.id" class="nav-item" role="presentation">
          <button
            id="carriere-past-jobs-tab"
            data-bs-target="#carriere-past-jobs"
            aria-controls="carriere-past-jobs"
            class="nav-link"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            aria-selected="false"
          >
            carrière & Past Jobs
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            id="demissions-tab"
            data-bs-target="#demissions"
            aria-controls="demissions"
            class="nav-link"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            aria-selected="false"
          >
            Démissions
          </button>
        </li>
        <li *ngIf="collab.id" class="nav-item" role="presentation">
          <button
            id="cv-documents-tab"
            data-bs-target="#cv-documents"
            aria-controls="cv-documents"
            class="nav-link"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            aria-selected="false"
          >
            Cvs & Documents
          </button>
        </li>
        <li *ngIf="collab.id" class="nav-item" role="presentation">
          <button
            id="cv-reader-tab"
            data-bs-target="#cv-reader"
            aria-controls="cv-reader"
            class="nav-link"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            aria-selected="false"
          >
            Cv Reader
          </button>
        </li>
        <li *ngIf="collab.id" class="nav-item" role="presentation">
          <button
            id="contrat-statut-tab"
            data-bs-target="#contrat-statut"
            aria-controls="contrat-statut"
            class="nav-link"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            aria-selected="false"
          >
            Contrat & Statut
          </button>
        </li>
        <li *ngIf="collab.id" class="nav-item" role="presentation">
          <button
            id="skills-tab"
            data-bs-target="#skills"
            aria-controls="skills"
            class="nav-link"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            aria-selected="false"
          >
            Skills
          </button>
        </li>
        <li *ngIf="collab.id" class="nav-item" role="presentation">
          <button
            id="formations-tab"
            data-bs-target="#formations"
            aria-controls="formations"
            class="nav-link"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            aria-selected="false"
          >
            Formations
          </button>
        </li>
        <li *ngIf="collab.id" class="nav-item" role="presentation">
          <button
            id="certifications-tab"
            data-bs-target="#certifications"
            aria-controls="certifications"
            class="nav-link"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            aria-selected="false"
          >
            Certificats
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="card border-top-0 rounded-0">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="tab-content" id="myTabContent">
            <div
              id="info"
              aria-labelledby="info-tab"
              role="tabpanel"
              class="tab-pane fade show active"
            >
              <div class="my-3">
                <div class="card">
                  <div class="card-header">
                    <strong>
                      <u> Informations Personnelles </u>
                    </strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-2 mt-3">
                        <app-select-input
                          [formControl]="$any(myFormGroup.controls?.['civilite'])"
                          [data]="civiliteData"
                          [label]="'civilite'"
                        ></app-select-input>
                      </div>
                      <div class="col-md-5 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['nom'])"
                          [label]="'nom'"
                        >
                        </app-text-input>
                      </div>
                      <div class="col-md-5 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['prenom'])"
                          [label]="'prenom'"
                        >
                        </app-text-input>
                      </div>

                      <div class="col-md-6 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['emailPersonnel'])"
                          [label]="'email Personnel'"
                          [type]="'email'"
                        ></app-text-input>
                      </div>
                      <div class="col-md-6 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['phonePersonnel'])"
                          [label]="'phone Personnel'"
                        ></app-text-input>
                      </div>

                      <div class="col-md-4 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['dateNaissance'])"
                          [label]="'date Naissance'"
                          [type]="'date'"
                        ></app-text-input>
                      </div>
                      <div class="col-md-4 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['lieuNaissance'])"
                          [label]="'lieu Naissance'"
                        ></app-text-input>
                      </div>
                      <div class="col-md-4 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['nationnalite'])"
                          [label]="'nationalite'"
                        ></app-text-input>
                      </div>

                      <div class="col-md-12 mt-3">
                        <app-select-input
                          [formControl]="$any(myFormGroup.controls?.['situationFamiliale'])"
                          [data]="situationFamilialeData"
                          [label]="'situation Familiale'"
                        ></app-select-input>
                      </div>

                      <div class="col-md-6 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['numCin'])"
                          [label]="'N&deg; Cin'"
                        >
                        </app-text-input>
                      </div>
                      <div class="col-md-6 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['matricule'])"
                          [label]="'matricule'"
                        >
                        </app-text-input>
                      </div>

                      <div class="col-md-12 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['adresse'])"
                          [label]="'adresse'"
                        >
                        </app-text-input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="my-3">
                <div class="card">
                  <div class="card-header">
                    <strong>
                      <u> Informations Professionnelles </u>
                    </strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['phoneProfesionnel'])"
                          [label]="'phone Profesionnel'"
                        ></app-text-input>
                      </div>
                      <div class="col-md-6 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['email'])"
                          [label]="'email Profesionnel'"
                          [type]="'email'"
                        ></app-text-input>
                      </div>

                      <div class="col-md-6 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['dateEntreeSqli'])"
                          [label]="'Entree SQLI'"
                          [type]="'date'"
                        ></app-text-input>
                      </div>
                      <div class="col-md-6 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['dateSortieSqli'])"
                          [isReadOnly]="true"
                          [label]="'Sortie SQLI'"
                          [type]="'date'"
                        ></app-text-input>
                      </div>

                      <div class="col-md-6 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['dateDebutStage'])"
                          [label]="'Debut de Stage'"
                          [type]="'date'"
                        ></app-text-input>
                      </div>
                      <div class="col-md-6 mt-3">
                        <app-text-input
                          [formControl]="$any(myFormGroup.controls?.['datePremiereExperience'])"
                          [label]="'Premier Experience'"
                          [type]="'date'"
                        ></app-text-input>
                      </div>

                      <div class="col-md-6 mt-3">
                        <app-select-input
                          [formControl]="$any(myFormGroup.controls?.['modeRecrutement'])"
                          [data]="recruteModeData"
                          [label]="'Recrutement'"
                        ></app-select-input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="collab.id"
              id="carriere-past-jobs"
              aria-labelledby="carriere-past-jobs-tab"
              role="tabpanel"
              class="tab-pane fade"
            >
              <app-carrieres [collab]="collab" #carrieres></app-carrieres>
            </div>
            <div
              id="demissions"
              aria-labelledby="demissions-tab"
              role="tabpanel"
              class="tab-pane fade"
            >
              <app-demission-tab
                (updateDemission)="updateDemission($event)"
                [collab]="collab"
                #demission
              >
              </app-demission-tab>
            </div>
            <div
              *ngIf="collab.id"
              id="cv-documents"
              aria-labelledby="cv-documents-tab"
              role="tabpanel"
              class="tab-pane fade"
            >
              <app-download [collab]="collab"></app-download>
            </div>
            <div
              *ngIf="collab.id"
              id="cv-reader"
              aria-labelledby="cv-reader-tab"
              role="tabpanel"
              class="tab-pane fade"
            >
              <app-cv-reader [docs]="collab.documents"></app-cv-reader>
            </div>
            <div
              *ngIf="collab"
              id="contrat-statut"
              aria-labelledby="contrat-statut-tab"
              role="tabpanel"
              class="tab-pane fade"
            >
              <app-contrats [collab]="collab" #contrats></app-contrats>
            </div>
            <div
              *ngIf="collab"
              id="skills"
              aria-labelledby="skills-tab"
              role="tabpanel"
              class="tab-pane fade"
            >
              <app-diplomes [collab]="collab" #diplomes></app-diplomes>
            </div>
            <div
              *ngIf="collab"
              id="formations"
              aria-labelledby="formations-tab"
              role="tabpanel"
              class="tab-pane fade"
            >
              <app-formations-collab
                [collab]="collab"
                [intersections]="intersectionsFormations"
              >
              </app-formations-collab>
            </div>
            <div
              *ngIf="collab.id"
              id="certifications"
              aria-labelledby="certifications-tab"
              role="tabpanel"
              class="tab-pane fade"
            >
              <app-certifications-collab
                [collab]="collab"
                [intersections]="intersectionsCertifications"
              >
              </app-certifications-collab>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-upload (filesEmitter)="filesHandler($event)"> </app-upload>

  <app-modal-ajout-diplome
    [collaborateur]="collab"
    (refreshDiplomes)="refreshDiplomes($event)"
  >
  </app-modal-ajout-diplome>

  <app-modal-ajout-contrat
    [collaborateur]="collab"
    (refreshAffectations)="refreshAffectations($event)"
  >
  </app-modal-ajout-contrat>

  <app-modal-ajout-demission
    [demission]="demis"
    [title]="demisTitle"
    (addDemmision)="addDemission($event)"
  >
  </app-modal-ajout-demission>

  <app-modal-ajout-carriere
    [collaborateur]="collab"
    (refreshCarrieres)="refreshCarrieres($event)"
  >
  </app-modal-ajout-carriere>
</form>
