<div class="my-3">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <strong>
                        <u>
                            Cursus des carrières
                        </u>
                    </strong>
                </div>
                <div class="col-md-4 text-end">
                    <button class="btn btn-sm btn-success" data-bs-toggle="modal"
                        data-bs-target="#modal-ajout-carriere">
                        <i class="bi bi-plus-square"></i>
                        Carrière
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mt-3" *ngFor="let carriere of collab.carrieres">
                    <div class="card border border-dark">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        <h5>
                                            {{ carriere.annee }}
                                        </h5>
                                    </strong>
                                </div>
                                <div class="col-md-6 text-end">
                                    <button class="btn btn-sm btn-danger me-2" data-bs-toggle="modal"
                                        data-bs-target="#modal-delete-carriere" (click)="carriereToDelete = carriere">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                    <button class="btn btn-sm btn-primary" disabled data-bs-toggle="modal"
                                        data-bs-target="#modal-edit-carriere" (click)="carriereToDelete = carriere">
                                        <svg _ngcontent-qty-c87="" _ngcontent-fyw-c112=""
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" viewBox="0 0 16 16" class="bi bi-pencil-square">
                                            <path _ngcontent-qty-c87="" _ngcontent-fyw-c112=""
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                                            </path>
                                            <path _ngcontent-qty-c87="" _ngcontent-fyw-c112="" fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>

                                <div class="col-md-4 mt-3">
                                    <label>
                                        Poste :
                                    </label>
                                    <input class="form-control form-control-sm" value="{{ carriere.poste?.name }}"
                                        readonly>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <label>
                                        Niveau :
                                    </label>
                                    <input class="form-control form-control-sm" value="{{ carriere.niveau?.name }}"
                                        readonly>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <label>
                                        Profil de Cout :
                                    </label>
                                    <input class="form-control form-control-sm" value="{{ carriere.profilDeCout }}"
                                        readonly>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <label>
                                        Salaire Net :
                                    </label>
                                    <input class="form-control form-control-sm" value="{{ carriere.salaireNet }}"
                                        readonly>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <label>
                                        Variable Net :
                                    </label>
                                    <input class="form-control form-control-sm" value="{{ carriere.variableNet }}"
                                        readonly>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <label>
                                        Salaire Brut :
                                    </label>
                                    <input class="form-control form-control-sm" value="{{ carriere.salaireBrut }}"
                                        readonly>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <label>
                                        Variable Brut :
                                    </label>
                                    <input class="form-control form-control-sm" value="{{ carriere.variableBrut }}"
                                        readonly>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label>
                                        TLRH :
                                    </label>
                                    <input class="form-control form-control-sm" value="{{ carriere.tlrh }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-confirm-delete-carriere [carriere]="carriereToDelete" (deleteCarriereEvent)="deleteCarriere($event)">
</app-modal-confirm-delete-carriere>

<app-modal-ajout-carriere [collaborateur]="collab" (carriereEvent)="addCarriere($event)">
</app-modal-ajout-carriere>

<!-- <app-modal-edit-carriere [car]></app-modal-edit-carriere> -->