<div class="d-flex justify-content-between mb-3">
    <div class="d-flex justify-content-start col-6">
      <div class="col-2">
        <select class="form-select form-select-sm" [(ngModel)]="year" (ngModelChange)="filter()">
          <option [value]="annee" *ngFor="let annee of annees">{{annee}}</option>
        </select>
      </div>
      <div class="col-2">
        <select class="form-select form-select-sm" [(ngModel)]="status" (ngModelChange)="filter()">
          <option value="0">All</option>
          <option value="{{s.id}}" *ngFor="let s of statusTable">{{s.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-3">
      <div class="input-group input-group-sm">
        <button class="input-group-text btn btn-sm btn-outline-secondary" (click)="onSearch()"><span class="bi bi-search"></span> </button>
        <input type="search" class="form-control" placeholder="Search..." aria-describedby="search" [(ngModel)]="searchInput"> 
      </div>
    </div>
  </div>
