<div class="modal fade" id="affecteContrat" tabindex="-1" aria-labelledby="affecteContrat" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Affectation d'un contrat
                </h5>
                <button id="btn-close-modal" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form [formGroup]="form" (ngSubmit)="affecteContrat(form)">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <label>Début :</label>
                                <input type="yea"
                                    [class.is-invalid]="form.controls?.['dateDebut']?.touched && form.controls?.['dateDebut']?.invalid"
                                    (blur)="validateDateGap($event)" class="form-control form-control-sm"
                                    formControlName="dateDebut" />
                                <div *ngIf="form.controls?.['dateDebut']?.errors?.['required']"
                                    class="invalid-feedback">
                                    Date début is required
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <app-text-input [formControl]="$any(form.controls?.['dateFin'])" [type]="'date'"
                                [label]="'Fin'"></app-text-input>
                        </div>

                        <div class="col-md-12 mt-3">
                            <app-select-input [formControl]="$any(form.controls?.['typeContratId'])"
                                [data]="typesContratData" [label]="'Type contrat'"></app-select-input>
                        </div>

                        <div class="col-md-12 mt-3 text-center">
                            <div class="form-check">
                                <label class="form-check-label" for="isInSQLI">
                                    <input class="form-check-input" type="checkbox" formControlName="isInSQLI"
                                        id="isInSQLI">
                                    au sein de SQLI.Group
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-sm btn-primary">Sauvegarder</button>
                </div>
            </form>
        </div>
    </div>
</div>