<div class="modal fade" id="affecteContrat" tabindex="-1" aria-labelledby="affecteContrat" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Affectation d'un contrat
                </h5>
                <button id="btn-close-modal-contrat" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form [formGroup]="form" (ngSubmit)="affecteContrat(form)">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6 mt-3">
                            <app-text-input [formControl]="$any(form.controls?.['dateDebut'])" [type]="'date'"
                                [label]="'Début'"></app-text-input>
                        </div>

                        <div class="col-md-6 mt-3">
                            <label>Fin :</label>
                            <input type="date"
                                [class.is-invalid]="form.controls?.['dateFin']?.touched && form.controls?.['dateFin']?.invalid"
                                (blur)="validateDateGap()" class="form-control form-control-sm"
                                formControlName="dateFin" />
                            <div *ngIf="form.controls?.['dateFin']?.errors?.['min']" class="invalid-feedback">
                                Date fin is invalid (minimum value)
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <app-select-input [formControl]="$any(form.controls?.['typeContratId'])"
                                [data]="typesContratData" [label]="'Type contrat'"></app-select-input>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">
                        Annuler
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary">
                        Sauvegarder
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>