<div class="modal fade" id="modal-confirm-delete-diplome" tabindex="-1" aria-labelledby="deleteDiplome" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Confirmation de suppression.
                </h5>
                <button id="btn-close-modal-delete-diplome" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                            Êtes-vous sûr de vouloir supprimer cet élement ?
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">
                    Annuler
                </button>
                <button type="submit" class="btn btn-sm btn-danger" (click)="deleteDiplome(diplome?.id)">
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>