<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Logo_sqli_group.png/800px-Logo_sqli_group.png"
                                class="logo">
                        </div>
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img
                            src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form [formGroup]="forms" (submit)="onSubmit()">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">
                                    E-mail :
                                </h6>
                            </label>
                            <input class="mb-4" type="text" formControlName="email" placeholder="adresse@mail.com" required>
                            <div class="alert alert-danger" *ngIf="forms.controls['email'].invalid && forms.controls['email'].touched">
                                <small *ngIf="forms.controls['email'].errors"></small>
                            </div>
                        </div>
                        <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">
                                    Password :
                                </h6>
                            </label>
                            <input type="password" formControlName="password" placeholder="Password" required>
                        </div>
                        <div class="row px-3 mb-4 ">
                            <a class="ml-auto mb-0 text-sm d-flex justify-content-end">Mot de passe oublié ?</a>
                        </div>
                        <div class="row mb-3 px-3 mt-5">
                            <div class="text-center">
                                <button type="submit" class="btn btn-blue">
                                    Se connecter
                                </button>
                            </div>
                        </div>
                        <div class="row mb-4 px-3 text-center">
                            <small class="font-weight-bold">
                                Problème lors de l'authentification ?
                                <a class="text-danger ">
                                    Contacter le support.
                                </a>
                            </small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5">
                    SIRH, Systeme interne de gestion des ressources humaines.
                    <br>
                    Copyright &copy; 2022. Tous droits réservés.
                </small>
            </div>
        </div>
    </div>
</div>