<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <div class="form-check form-switch">
    <input class="form-check-input" [(ngModel)]="selected" (change)="onSwitch()" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">
      {{selected ? 'Formations' : 'Certifications'}}
    </label>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-primary">Ajout</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      Filtres
    </button>
  </div>
</div>
<div class="table-scroll">
  <app-table [type]='selected' [table] ="tab" [rows]="rows" [cols]="cols" (sortValue)="sortData($event)"></app-table>
</div>
<div>
  <app-footer [pagination]="pagination" (pageNumber)="getCurrentPage($event)"></app-footer>
</div>


