 <ngfFormData
    [files] = "files"
    [(FormData)] = "formData"
    postName = "file"
></ngfFormData>
<ngfUploadStatus
  [(percent)] = "progress"
></ngfUploadStatus>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Import Collabs</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="dragdrop" 
                ngfDrop
                multiple="1" 
                selectable="1" 
                [(validDrag)] = "validComboDrag"
                [(files)]="files" 
                [ngClass]="{'invalid-drag':validComboDrag === false, 'valid-drag': validComboDrag}"
                [accept]="accept"
                (fileChange)="fileChange(files)">
                Drag your file here Or Tap here to select it
            </div>
            <div class="alert alert-danger p-1 text-center" *ngIf="error">
                {{error}}
            </div>
            <div class="container row p-1" *ngIf="files.length">
                <img class="col-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg/640px-Microsoft_Office_Excel_%282019%E2%80%93present%29.svg.png"
                    style="width: 4rem;height: 2rem;">
                <div class="col">{{files[0].name}}</div>
                <button class="col-2 btn btn-warning btn-sm" (click)="files.length = 0; files.splice(0,1)">Clear</button>   
            </div>
            <div class="progress" *ngIf="files.length">
                <div class="progress-bar bg-success"
                  role="progressbar"
                  [ngStyle]="{ 'width': progress + '%' }"
                >0 %</div> 
            </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="!files" (click)="uploadFile()">Send file</button>
            </div>
        </div>
    </div>