<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Import Collabs</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="dragdrop" 
                ngfDrop
                multiple="1" 
                selectable="1" 
                [(validDrag)] = "validComboDrag"
                [(files)]="files" 
                [ngClass]="{'invalid-drag':validComboDrag === false, 'valid-drag': validComboDrag}"
                [accept]="accept"
                (fileChange)="fileChange(files)">
                Drag your file here Or Tap here to select it
            </div>
            <div class="alert alert-danger p-1 text-center" *ngIf="error">
                {{error}}
            </div>
            <div class="d-flex justify-content-between bd-highlight p-1" *ngIf="files.length">
                <div class="row flex-grow-1 bd-highlight">
                    <img class="col-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg/640px-Microsoft_Office_Excel_%282019%E2%80%93present%29.svg.png"
                        style="width: 4rem;height: 2rem;">
                    <div class="col-8">{{files[0].name}}</div>
                    <button *ngIf="!isDone || error" class="col-1 btn btn-warning btn-sm p-1" (click)="clear()">
                        <span class="bi bi-trash"></span>
                    </button>  
                </div> 
                <div class="bd-highlight align-self-center">
                    <span class=" bi bi-check-circle text-success p-1" *ngIf="isDone&&!error"></span>
                    <span class="bi bi-x-circle text-danger p-1" *ngIf="error"></span>
                </div>
            </div>
            <div class="progress" *ngIf="files.length">
                <div class="progress-bar"
                  role="progressbar"
                  [ngStyle]="{ 'width': progress + '%' }"
                  [ngClass]="{'bg-success': isDone, 'bg-warning': !isDone, 'bg-danger':error}"
                >{{progress}} %</div> 
            </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="init()" [disabled]="isLoading">Close</button>
                <button type="button" class="btn btn-primary" (click)="uploadFile()" [disabled]="!files.length || isLoading || error || isDone">Send file</button>
            </div>
        </div>
    </div>