<div class="modal fade" id="addDemission" tabindex="-1" aria-labelledby="addDemissionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDemissionLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="mb-3">
            <label class="form-label">{{'Date Demission' | titlecase}} :</label>
            <input class="form-control" type="date" [valueAsDate]="demission.dateDemission" (change)="demission.dateDemission = $any($event.target).valueAsDate"/>
          </div>
          <div class="mb-3">
            <label class="form-label">{{'Date Sortie' | titlecase}} :</label>
            <input class="form-control" type="date" [valueAsDate]="demission.dateSortieSqli" (change)="demission.dateSortieSqli = $any($event.target).valueAsDate" />
          </div>
          <div class="mb-3">
            <label class="form-label">{{'Reason' | titlecase}} :</label>
            <input class="form-control" type="text" [(ngModel)]="demission.reasonDemission" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="submitDemission()" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
