<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2 class="h2">Ajouter Collaborateur</h2>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-primary" routerLink="/addEditcollaborateur">Ajout</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        Filtres
      </button>
    </div> -->
</div>
<form class="row">
    <div class="col-md-6">
        <div class="mb-3">
            <label for="MatriculeInput" class="form-label">Matricule</label>
            <input type="input" class="form-control" id="MatriculeInput">
        </div>
        <div class="mb-3">
            <label for="LoginInput" class="form-label">Login</label>
            <input type="input" class="form-control" id="LoginInput">
        </div>
        <div class="mb-3">
            <label for="NomCompletInput" class="form-label">Nom Complet</label>
            <input type="email" class="form-control" id="NomCompletInput">
        </div>
        <div class="mb-3">
            <label for="EmailInput" class="form-label">Email address</label>
            <input type="email" class="form-control" id="EmailInput">
        </div>
        <div class="mb-3">
            <label for="BirthDateInput" class="form-label">Birth date</label>
            <input type="date" class="form-control" id="BirthDateInput">
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="AgencySelectInput">
                <option selected>Agency</option>
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="SkillCenterSelectInput">
                <option selected>Skill Center</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>