<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2 class="h2" *ngIf="!collab_id">Ajouter Collaborateur</h2>
  <h2 class="h2" *ngIf="collab_id">Details Collaborateur</h2>
  <div class="btn-group me-3">
    <button type="button" class="btn btn-primary btn-sm" (click)="saveCollaborator()">Sauvegarder</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 sticky-top">
    <app-add-edit-summary-card [collab]="collab"></app-add-edit-summary-card>
  </div>

  <div class="col-lg-9">
    <app-add-edit-form-table [myFormGroup]="formGroup" [collab]="collab"></app-add-edit-form-table>
  </div>
</div>

<app-toast></app-toast>