<div class="my-3">
    <div class="card">
        <div class="card-header">
            <strong>
                <u>
                    Contrats
                </u>
            </strong>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th>Type Contrat</th>
                            <th>à SQLI</th>
                            <th>Début</th>
                            <th>Fin</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>